@import "../../common.less";
.yo-anchor-com{    
    .fz(24);
    .lh(32);
    .c(#0d1a26);
    .fw(500);
    font-family: Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    &:hover{
        // cursor: pointer;
        a{
            opacity: 1;
        }
    }
    a{
        opacity: 0;
        .mr(5);
        .ml(10);
        .c(@yo-primary);
    }
}